/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/copilot.data.migration.ask2agent.xml
/.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
/.idea/laravel-idea.xml
/.idea/commandlinetools/Laravel_16_02_26__09_14.xml
/.idea/modules.xml
/.idea/multi-paytment-platforms.iml
/.idea/php.xml
/.idea/phpunit.xml
/.idea/vcs.xml
/.idea/.gitignore
